/* You can add global styles to this file, and also import other style files */
body{
  background: beige;
  font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
 display: flex;
 flex-direction: column;
}
